<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="accelaSqlConnectionString"
			 connectionString=""
			 providerName="System.Data.Odbc"/>
  </connectionStrings>
  <appSettings>
    <add key="sftp_host"/>
    <add key="sftp_user"/>
    <add key="sftp_pass"/>
    <add key="sftp_port"/>
    <add key="sftp_remoteDirectory"/>
    <add key="sftp_localDirectory"/>
    <add key="sftp_localFilenameRoot"/>
    <add key="sftp_incomingFileRoot"/>
    <add key="sftp_outgoingFileRoot"/>
  </appSettings>
</configuration>
<!--COPY OVER ENTIRE App.config RAW CONTENTS BETWEEN CONFIGURATION TAGS, content is encrypted at first run-->