<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="accelaSqlConnectionString"
			 connectionString="DSN=AccelaProductionODBC;Uid=testUser;Pwd=testUser"
			 providerName="System.Data.Odbc" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="sftp_host" value="ccbnvdev.sftp.wpengine.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="sftp_user" value="ccbnvdev-sdotson" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="sftp_pass" value="23fPB0HVOemhkXAvzB0" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="sftp_port" value="2222" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="sftp_remoteDirectory" value="nvkids/dotx/locate" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="sftp_localDirectory" value="..\csepAuditTool_WorkingFiles" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="sftp_localFilenameRoot" value="csepFileReq_" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="sftp_incomingFileRoot" value="req" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="sftp_outgoingFileRoot" value="rsp" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>
<!--COPY OVER ENTIRE App.config RAW CONTENTS BETWEEN CONFIGURATION TAGS, content is encrypted at first run-->