<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--<add name="accelaSqlConnectionString"
			 connectionString="Server=CCB-6TS9QV3-LV; Database=NVMED_PROD; UID=testUser; PWD=testUser"
			 providerName="System.Data.SqlClient" />-->
		<add name="accelaSqlConnectionString"
			 connectionString="DSN=AccelaProductionODBC;Uid=testUser;Pwd=testUser"
			 providerName="System.Data.Odbc"/>
	</connectionStrings>
	<appSettings>
		<add key="sftp_host" value="ccbnvdev.sftp.wpengine.com"/>
		<add key="sftp_user" value="ccbnvdev-sdotson"/>
		<add key="sftp_pass" value="23fPB0HVOemhkXAvzB0"/>
		<add key="sftp_port" value="2222"/>
		<add key="sftp_remoteDirectory" value="nvkids/dotx/locate"/>
		<add key="sftp_localDirectory" value="C:\CSEP_Working_Temp"/> <!-- do not forget the closing slash -->
		<add key="sftp_localFilenameRoot" value="csepFileReq_"/>
		<add key="sftp_incomingFileRoot" value="req"/>
		<add key="sftp_outgoingFileRoot" value="rsp"/>
	</appSettings>
</configuration>